// Header

header {

    h1 {
        margin: em(2) 0 em(6);
        text-align: center;
    }

    a {
        text-decoration: none;
    }

    @include mq(em($tablet)){
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: em(12);

        h1 {
            margin: 0;
            text-align: left;
        }
    }

    @include mq(em($desktopWide)){
        
        margin: em(20);

        h1 {
            font-size: em(48);
        }
    }
}